page-home {
    // .img_tv {
    //     width: 70%;
    //     margin-left: 15%;
    // }
    // .img_radio {
    //     width: 70%;
    //     margin-left: 45px;
    // }
    .streaming_tv {
        display: inline;
    }
    .streaming_radio {
        display: inline;
    }
    img {
        margin-bottom: -68px;
        margin-top: -24px;
    }
}